.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }

.gochi-hand-regular {
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
}
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gochi Hand";
}

body {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

body h1 {
    font-size: 5rem;
    margin-top: 4vh;
}

.game {
    flex: 1;
    padding-top: 6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.game-over-text {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.897);
    font-size: 10rem;
    color: white;
}

.hide {
    display: none;
}

.status-info,
.board {
    width: clamp(500px, 50vw, 700px);
}

.status-info {
    display: flex;
}

.status-info > * {
    flex: 1;
}

.score {
    text-align: right;
}

.turn {
    text-align: left;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 20vh;
}



.cell {
    line-height: 0px;
    font-size: 10rem;
    text-align: center;
    background-color: white;
    outline: none;
    color: black;
    border: solid black 1px;
    cursor: pointer;
}



.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(1n+7) {
    border-bottom: none;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:nth-child(3n+3) {
    border-right: none;
}